body {
    background: #E8E8E8;
}
a, a:hover, a:focus {
    color: #B90504;
}
label {
    color: #B90504;
}
.main-content {
    background-color: #FFFFFF;
    border-radius: 10px;
}
.login-form {
    padding: 20px 0px;
}
.card.card-nav-tabs .header h2 {
    font-size: 1.4em;
    margin: 5px 10px;
}
.card.card-nav-tabs .header h2 i {
    vertical-align: top;
}
.card .header {
    padding: 10px;
}
.main-content ul.pagination {
    margin-left: 20px;
}
nav.navbar.navbar-custom {
    background: #242424;
}
.card .header-success {
    background: linear-gradient(30deg, #990100, #B90504);
}
.btn.btn-success {
    background: #B90504;
}
.pagination > .active > a {
    background-color: #990100;
    border-color: #B90504;
}
.new-card {
    font-weight: bold;
    color: green;
}
.search-form {
     margin: 10px 0px 0px 25px;
     width: 695px;
     padding: 0px;
     display: inline-block;
}
.search-form .form-group {
    display: inline-block;
    width: 250px;
    margin: 5px 15px;
}